.custom-button {
  height: 10vh;
  width: 75%;
  cursor: pointer;
  color: $default-color;
  letter-spacing: 4px;
  line-height: normal;
  text-align: center;
  white-space: nowrap;

  &:hover {
    transform: scale(1.5);
  }

  i {
    margin-right: 5%;
  }
  @include desktop {
    width: 20%;
  }
}

.primary {
  background-color: $bkg-color;
  border: 1px none;
}

.secondary {
  background-color: $bkg-color-transparent;
  border: 1px $default-color;
}

.ghost {
  background-color: transparent;
  border: 0;
}

.disabled {
  color: $bkg-color;
}

.success {
  background-color: $default-color;
  color: $bkg-color;
}
