.custom-button {
  display: flex;
  height: 7vh;
  width: 100%;
  color: $default-color;
  letter-spacing: 4px;
  line-height: normal;
  align-items: center;
  justify-content: center;

  &:hover:enabled {
    transform: scale(1.1);
    cursor: pointer;
  }

  .button-icon {
    margin-right: 3%;
  }
  :disabled {
    transform: 0;
    cursor: default;
  }
}

.primary {
  background-color: $bkg-color;
  border: 1px none;
}

.secondary {
  background-color: $bkg-color-transparent;
  border: 1px solid $default-color;
}

.ghost {
  background-color: transparent;
  border: 0;
  font-weight: 600;
}

.disabled {
  color: $bkg-color;
  background-color: grey;
  border: 0;
}

.success {
  background-color: $default-color;
  color: $bkg-color;
  border: 0;
}
