.dropdown-container {
  width: 100%;
  margin-bottom: 20px;
  letter-spacing: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  @include desktop {
    position: absolute;
  }

  .dropdown-buttons {
    background-color: transparent;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 200px;
    cursor: pointer;
    @include mobile {
      background-color: $bkg-color;
    }
  }
  .arrow {
    background-color: $bkg-color;
    display: none;
    position: relative;
    width: 12px;
    height: 12px;
    margin-top: -12px;
    top: 16px;
    left: 80px;
    transform: 'rotate(45deg)';
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    position: relative;
    width: 200px;
    padding: 10px;
    height: 112px;
    background-color: $bkg-color;
    left: 0;
    z-index: 50;
    margin-bottom: -112px;
  }

  .dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
  @include mobile {
    margin: 50px 0;
  }
}
