// Common
@import '_variables';
@import '_mixins';
@import '_keyframes';

// Components
@import 'components/';

// Pages
@import 'pages/';

body,
button,
a {
  margin: 0;
  background-color: $bkg-color;
  font-family: 'Bebas Neue', 'Helvetica', 'sans-serif';
  font-size: 16px;
  letter-spacing: 4px;
  color: $default-color;

  #root {
    margin: 0 auto;
  }
}

input {
  all: unset;
}
