header {
  display: flex;
  flex-direction: row;
  padding: 2% 4% 0;
  animation: fadeInDown 1s;

  //TODO: only when user scrolls up
  // @include mobile {
  //   position: sticky;
  //   top: 0;
  // }

  .avatar {
    border-radius: 50%;
  }

  .mobile-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include desktop {
      display: none;
    }
  }

  .desktop-header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    div {
      width: 100%;
      display: flex;
      align-items: center;
    }

    .app-actions {
      justify-content: left;
      button {
        width: 50%;
      }
    }

    .user-actions {
      justify-content: right;
    }

    @include mobile {
      display: none;
    }
  }

  .avatar {
    border-radius: 50%;
  }

  // TODO: iconos
  .icon {
    width: 10%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.3);
    }
  }
}
