.navbar {
  position: fixed;
  top: 0;
  right: -1000px;
  height: 100vh;
  background-color: $bkg-color;
  transition: right 0.3s ease-in-out;
  width: 100vw;
  padding-top: 50px;

  @include desktop {
    right: auto;
    opacity: 0.9;
    right: -1000px;
    width: 50vw;
    padding: 50px 50px 0;
  }

  .open {
    right: 0;
  }
}

.navbar.open {
  right: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

li {
  padding: 16px;
  cursor: pointer;
  margin: 10px;
  width: 100%;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  button {
    margin-left: 0;
  }
}
